## Golang
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
tmp
go.sum

## MySQL
build/db/data/*

## Vue
.DS_Store
node_modules
/dist
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
